/* Basic styling */

svg {
    width: 100%;
}
.filled-heading {
    font-family: 'Volkhov', serif;
    font-size: 5em;
    line-height: 0.9;
}

/* Animate the background shapes */
#background path {
    animation: pulse 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}
#textClip text {
    display: none;
}
#textClip text:nth-of-type(1) {
    display: inline;
}


@keyframes pulse {
    0%, 100% { transform: scale(0) rotate(33deg); }
    35%, 65% { transform: scale(1) rotate(0deg); }
}
